* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* HEADER */
.hero {
    color: white;
    background-color: #1f2937;
    padding: 15px 90px 70px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

li {
    list-style: none;
}

.right-links {
    display:flex;
    gap: 25px;
}

.hero-content {
    display: flex;
    gap: 40px;
}

.hero-text {
    width: 450px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}

h1
{
    margin-bottom: 15px;
    font-size: 48px;
}

.image {
    height: 219px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    flex: 1;
}

.image div {
    text-align: center;
    padding: 30px;
}

button {
    font-size: 18px;
    border-radius: 9px;
    padding: 7px 25px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
    border: none;
}


/* INFORMATION */

.random-information {
    padding: 30px 50px 70px;
}

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;
}

.random-content {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.random-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-image {
    border: 2px solid #3882f6;
    width: 170px;
    height: 170px;
    border-radius: 9px;
    margin-bottom: 10px;
}

.subtext  {
    width: 170px;
    text-align: center;
    font-size: 18px;
}

/* QUOTE */

.quote {
    background-color: #e5e7eb;
    padding:  50px;
}

.quote figure {
    width: 770px;
    margin: auto;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
}

figcaption {
    text-align: right;
    padding-right: 21px;
    font-size: 20px;
}

/* CALL TO ACTION */

.cta {
    padding: 70px 90px;
}

.cta-container {
    background-color: #3882f6;
    border-radius: 7px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px 50px;
    gap: 100px;
}

.cta-content strong {
    font-size: 20px;
}

.cta-content p {
    font-size: 18px;
}

.cta-container button {
    border: 1px solid #f9faf8;
    border-radius: 7px;
    min-width: 120px;
}

/* FOOTER */

.footer {
    color: white;
    background-color: #1f2937;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}